*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* font-weight: 100; */
}
.nav-div1{
    width: 100%;
    height: 90px;
    background-color:rgb(255, 255, 255);
}
.navbar{
    width: 85%;
    height: 90px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navsec1{
    display: flex;
    align-items: center;
    font-size: x-large;
    color: rgb(89, 171, 109);
    margin-left: 10px;
    cursor: pointer;
    
}

.nav-words{
    text-decoration: none;
    font-size: 18px;
    color:rgb(32, 40, 51);
    font-weight: 300;
   
}
.nav-items{
    display: flex;
    /* align-items: center; */
    text-align: center;
    justify-content: space-between;
    gap: 90px; 
    margin-right: 140px;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px; 
}
.nav-list{
    list-style: none;

}
.cart-no {
    position: absolute;
    top: -15px;
    left: 10px;
    background-color: rgb(233, 238, 245);
    border-radius: 50%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-size: 15px;
    width: 20px;
}
.popup{
    position: relative;
}
.contact-no{
       position: absolute;
    top: -15px;
    left: 10px;
    background-color: rgb(233, 238, 245);
    border-radius: 50%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-size: 15px;
    width: 20px;
}
.popup2{
    position: relative;
}

.nav-button{
    display: flex;
    font-size: larger;
    align-items: center;
    justify-content:space-between ;
    gap: 20px;
}
.icon{
    color: black;
}
.ul-icon{
    display: flex;
    gap: 20px;
   
}










/* carousel start */
.main-sec{
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding-bottom: 25px;
}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    gap: 20px;
    /* padding-bottom: 0px; */
   
    
}
.left-text{
    width: 49%;
    
    /* flex: 1; */
}
.left-text h1 {
    font-size: 40px;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: rgb(89, 171, 109);
}
.span1{
     font-size: 48px ;
    font-weight: 400 ;
}
.span2{
        font-size: 48px ;
    font-weight: 200 ;

}
.span3{
    font-size: 30px;
    font-weight: 300;
}
.span4{
    font-weight: 300;
    font-size: 20px;
}
.span5{
    color: rgb(89, 171, 109);
    cursor: pointer;
    text-decoration: underline;
}
.right-img{
    width: 49%;
    
    
    /* flex: 1; */
}
.banner1{
    width: 600px;
}


@keyframes slides {
    0%{
        transform: translateX(0);
    }
     33%{
        transform: translateX(-300px);
    }
     66%{
        transform: translateX(-600px);
    }
     100%{
        transform: translateX(0);
    }
  /*<!-- Categories of The Month -->    */
}
.Categories{
    width: 100%;
    height: auto;
    background-color: white;
}
.cat-1{
    padding-top: 70px;
}
.cat-head{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-wrap: wrap;
    width: 80%;
    margin: auto;
   
}
.cat-h1{
    font-size: 50px;
    font-weight: 250;
    width: 60%;
    margin: auto;
}
.cat-p{
    font-size: 20px;
    font-weight: 130;
}
.main-card{
    display: flex;
    justify-content: center;
    padding: 110px;
   
}
.cards{
    display: flex;
    justify-content: space-between;
      gap: 100px;
       flex-wrap: wrap;
    justify-content: center;
}
.card1{
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
    
}
.card-img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
}
.card-button{
    background-color:  rgb(89, 171, 109);
    color: white;
    padding: 8px;
    border-style: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 300;
}

@media (max-width:1200) {
    .main-card{
           width: 500px;
    }
}


/* Featured-Product */

.Featured-Product{
     width: 100%;
    height: auto;
    background-color: rgb(233, 238, 245);
}
.pro-1{
    padding-top: 100px;

}
.pro-head{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-wrap: wrap;
    width: 80%;
    margin: auto;
   
}
.pcards{
    display: flex;
    justify-content: space-between;
      gap: 30px;
       flex-wrap: wrap;
       padding: 50px;
       padding-bottom: 80px;
    justify-content: center;
    
}
.pcard1{
    width: 370px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
    background-color:  rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 55px;
    border-radius: 2px;
    
}
.pcard-img{
    width: 410px;
    height: 300px;
    object-fit: cover;
    border-radius: 2px;
}
.rating{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 98%;
    margin: auto;

}
.product-detail{
    font-weight: 250;
    font-size: 20px;
}
.review{
    color: rgb(196, 187, 196);
}
.card-heading{
    font-weight: 300;
    font-size: 34px;
}
.star{
    color: rgb(237, 232, 97);
}
.nostar{
    color: rgb(189, 189, 189);
}
.dollar{
     color: rgb(196, 187, 196);
     font-size: 20px;
     font-weight: 250;
}



/* footer */
.footer{
    width: 100%;
    height: 100%;
    background-color: rgb(32, 40, 51);
    padding-top: 40px;
    flex-wrap: wrap;
}
.foot-cards{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 40px;
    
}
.foot-card{
    width: 250px;
    padding-top: 10px;
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 160;
    font-size: 20px;
    /* text-align: left; */
}
.foot-heading{
    font-weight: 250;
    font-size: 30px;
}
.foot-heading1{
     font-weight: 500;
    font-size: 30px;
    color: rgb(89, 171, 109);
}
hr{
    opacity: 6%;
}
.last-hr{
    margin: auto;
    width: 85%;
}
.foot-p:hover{
    color: rgb(75, 171, 109);
}
.icons{
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 100px;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;

}
.iconsleft {
    font-size: 24px;
    display: flex;
    justify-content: center;
    
    /* color: black; */
}
.icon-a{
    background-color:  rgb(32, 40, 51);
    color: rgb(206, 213, 224);
    padding: 10px;
    border-radius: 50%;
     border: 1px solid  rgb(91, 91, 91);
     transition: 0.6s;
    
}
.icon-a:hover{
    background-color: white;
    color:  rgb(32, 40, 51) ;
   
}
.email{
    width: 218px;
    height: 40px;
    background-color:  rgb(32, 40, 51);
    border: 1px solid  rgb(65, 74, 82);
    font-weight: 160;
    font-size: 20px;
}
.subscribe{
    width: 103px;
    height: 42.9px;
    background-color:  rgb(75, 171, 109) ;
    border: none;
    color: rgb(200, 214, 224);
    font-weight: 160;
    font-size: 20px;
}
.font-button{
    display: flex;
}


/* last section */

.last-sec{
    width: 100%;
    height: 85px;
    background-color: rgb(29, 37, 46);
}
.last-p{
    width: 85%;
    padding-top: 30px;
    margin: auto;
    color: rgb(200, 214, 224);
    font-weight: 260;
    font-size: 18px;
}
.last-pspan{
    text-decoration: underline;
}
.last-pspan:hover{
    color: rgb(75, 171, 109) ;

}















@media (max-width:1249px) {
    .right-img{
        order: 1;
        width: 600px;
    }
    .left-text{
        order: 2;
    }
    .carousel{
        justify-content: center;
    }
}


@media (max-width:991px) {
    .nav-items{
        display: none;
    }
    .ul-icon{
        display: none;
    }
    .left-text{
        width: 500px;
    }
}
@media (min-width:991px) {
    .nav-menu{
        display: none;
    }
}
@media (max-width:690px) {
    .right-img{
        width: 300px;
    }
    .banner1{
        width: 300px;
    }
    .left-text{
        width: 300px;
    }
}
